@font-face {
	font-family: 'SansationLight'; 
	src:  url('./Tiresias_Infofont.ttf') format('truetype'), url('./Tiresias_Infofont_Italic.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_423">Text with this font applied</p> */
.fontsforweb_fontid_423 {
	font-family: 'SansationLight' !important;
}

/* Font downloaded from FontsForWeb.com */