/*navbar*/
.form-control {
    box-shadow: none;		
    font-weight: normal;
    font-size: 13px;
}
.form-control:focus {
    border-color: #33cabb;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.navbar-header.col {
    padding: 0 !important;
}	
.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #F4FCDE;
    /* verde  #F4FCDE gris #dfe3e8*/
    border-radius: 0;
    height: 75px;
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #33cabb;		
}
.navbar .navbar-brand img {
    width:146px ;
    height:24px;	
}
.navbar .form-inline {
    display: inline-block;
}
.navbar .nav li {
    position: relative;
}
.navbar .nav li a {
    color: #000 !important;
}
.search-box {
    position: relative;
    border: 1px solid #000;
}	
.search-box input {
    padding-right: 35px;
    border-color: #000;
    border: 0;
    border-radius: 1px !important;
    box-shadow: none !important;
} 
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #000;
    font-size: 19px;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}	
.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
    background: #31bfb1;
}
.navbar .navbar-right li:first-child a {
padding-right: 30px;
padding-left: 15px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
}	
.navbar .nav .get-started-btn {
    min-width: 120px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
}
.navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: #31bfb1 !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .nav .dropdown-menu li {
    color: #999;
    font-weight: normal;
}
.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
    padding: 8px 20px;
    line-height: normal;
}
.navbar .navbar-form {
    border: none;
}
.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {		
    color: #33cabb;
    padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .hint-text {
    text-align: left;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
    color: #fff !important;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}	
.navbar .social-btn .btn-primary {
    background: #507cc0;
}
.navbar .social-btn .btn-primary:hover {
    background: #4676bd;
}
.navbar .social-btn .btn-info {
    background: #64ccf1;
}
.navbar .social-btn .btn-info:hover {
    background: #4ec7ef;
}
.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}
.navbar .form-wrapper .form-footer a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
}
.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}
.navbar .checkbox-inline {
    font-size: 13px;
}
.navbar .navbar-right .dropdown-toggle::after {
    display: none;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 768px){
    .navbar .dropdown-menu.form-wrapper {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
    }
}
/*boton menu movil*/
.fa-times:before{
    content:"\f00d"
}
.fa-bars:before {
    content: "\f0c9";
}
.button-menu-mobile{
    outline: none !important;
    border-color: transparent !important;
}
.button-menu-mobile .iconmenu{
    /*display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url(../img/icon/menu.svg) !important;*/
    font-size: 30px;
  color: black;
}
/*color menu colapsado movil barra de color final de lista espaciado o margen de la lista*/
.border-botton-menu-collapsed{ 
    background-color: white;
    transition: all .4s ease-out 0s;
  } 
  .border-botton-menu-collapsed .divespaciomargin{ 
    margin: 10px;
  } 
  @media (max-width:991px){
  .border-botton-menu-collapsed{
    border-bottom: 3px solid #000;
    background-color: white;
  }  
  } 
  .collapse {
    visibility: hidden !important;
  }
  .collapse.show {
    visibility: visible !important;
    display: block !important;
    transition: height 0.80s ease !important;
  }
  .collapsing {
   /** position: relative !important;
    height: 0 !important;
    overflow: hidden !important;
    -webkit-transition-property: height, visibility !important;
    transition-property: height, visibility !important;
    -webkit-transition-duration: 0.35s !important;
    transition-duration: 0.35s !important;
    -webkit-transition-timing-function: ease !important;
    transition-timing-function: ease !important;**/
    transition: height 0.80s ease !important;
  }
  .collapsing.width {
    -webkit-transition-property: width, visibility !important;
    transition-property: width, visibility !important;
    width: 0 !important;
    height: auto !important;
  }
/*navbar end*/


/*responsive menu expanded nav*/
.mostrar-movil{
    display: block;
  }
  @media (min-width:992px){
  .mostrar-movil{
    display: none !important;
  }  
  }
  .ocultar-desktop-tablet{
      display: none;
  }
  @media (max-width: 768px){
    .ocultar-desktop-tablet{
      display: none !important;
  }
  }
  @media (min-width:992px){
  .ocultar-desktop-tablet{
    display: block;
  }  
  }
/*responsive menu expanded nav*/


/*banner Promtional*/
.banner{
    box-sizing: border-box;margin: 0 auto;position: relative;
}
.banner .banner-images{
    background-color: #F4FCDE;    margin: 0 auto;height: 415px;overflow: hidden;    position: relative;
}
.banner .banner-text{
    transform: translate(-50%, -50%);left: 50%;top: 50%;position: absolute;
}
.banner .banner-text h2{
    text-align: center;margin-bottom:4px;
        line-height: 44px;font-size: 36px;color: #000000;
}
/*banner Promtional end*/

/*carousel*/
.carousel-control-prev,
.carousel-control-next{
              bottom: 75%; 
}
.mt-carousel{
    margin-top: 60px;
}
.title-carousel{
    text-align: left;
}
.btn-controls-carousel{
    background: #EEEEEE;
    border-radius: 50%;
    width: 40px;
    height: 40px;    
    -webkit-box-pack: center;
    justify-content: center; 
    line-height: 24px;
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;    
    box-sizing: border-box;
    outline:none !important;
    border: 0px;

}
.div-buttons-carousel{
    text-align: right;   
}
.div-button-icon{
    line-height: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
/*carousel end*/


